<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="formulario-alumno">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `formulario-alumno`
     * formulario creado
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FormularioAlumno extends Polymer.Element {
      static get is() { return 'formulario-alumno'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'formulario-alumno'
          }
        };
      }
    }

    window.customElements.define(FormularioAlumno.is, FormularioAlumno);
  </script>
</dom-module>
